<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MainMapper">

	<select id="getCountOfUnreq" parameterType="java.util.Map" resultType="long">
		-- -------------------------------
		-- 1. 미상신 건
		-- -------------------------------
		SELECT COUNT(*) FROM ( 
		        -- ===================================
		        -- 1.1 소유자 (일반)
		        -- 카드 사용날짜에 카드사용계획이 없으면서 
		        -- 카드 소유자가 나인 것 (대체자가 있어도 무방) (소유카드)
		        -- 카드 소유자에게 메일이 보내짐
		        -- ===================================
		        SELECT '11' AS APP_TYPE
		                   , C.AUTH_DATE
		                   , C.MERC_NAME
		                   , C.AMT_AMOUNT
		                   , C.VAT_AMOUNT
		                   , C.REQUEST_AMOUNT
		                   , C.CARD_NUM
		                   , C.AUTH_NUM
		                   , D.USER_ID AS OWNER_ID
		                   , FN_GET_USER_INFO(D.COMPANY_CD, D.USER_ID, 'EMAIL_ADDR') AS TO_USER
		           FROM CARD_AQ_TMP C, EAC_CARD D, EAC_CARD_AQ_MGMT G
		        WHERE 1=1
		          AND C.CARD_NUM = D.CARD_NO
		          AND D.COMPANY_CD=#{companyCd}
		          AND D.USE_YN = 'Y'
		          AND D.DEL_YN = 'N'
		          AND D.USER_ID = #{userId}
		          AND C.CARD_NUM = G.CARD_NUM
		          AND C.AUTH_DATE = G.AUTH_DATE
		          AND C.AUTH_NUM = G.AUTH_NUM
		          AND C.GEORAE_STAT = G.GEORAE_STAT
		          AND C.REQUEST_AMOUNT = G.REQUEST_AMOUNT
		          AND C.GEORAE_COLL = G.GEORAE_COLL
		          AND (G.CARD_USING_TP_CD IS NULL OR G.CARD_USING_TP_CD = '1') -- 개인용 제외
		          AND C.CARD_NUM NOT IN (
		                                    SELECT A.CARD_NUM                    
		                                       FROM CARD_AQ_TMP A, EAC_CARD E, EAC_CARD_SCHEDULE S
		                                     WHERE 1=1
		                                          AND A.CARD_NUM = E.CARD_NO
		                                          AND E.COMPANY_CD = #{companyCd}
		                                          AND E.COMPANY_CD=S.COMPANY_CD
		                                          AND E.CARD_NO=S.CARD_NO                  
		                                          AND A.AUTH_DATE BETWEEN S.START_DAY AND S.END_DAY 
		                                 )      
		          AND (C.CARD_NUM, C.AUTH_DATE, C.AUTH_NUM, C.GEORAE_STAT, C.REQUEST_AMOUNT, C.GEORAE_COLL) 
		              NOT IN ( SELECT I.CARD_NUM, I.AUTH_DATE, I.AUTH_NUM, I.GEORAE_STAT, I.REQUEST_AMOUNT, I.GEORAE_COLL
		                         FROM EAC_APPROVAL A, EAC_APPROVAL_ITEM I
		                        WHERE 1=1
		                          AND A.COMPANY_CD = #{companyCd}
		                          AND A.COMPANY_CD = I.COMPANY_CD
		                          AND A.APPROVAL_ID = I.APPROVAL_ID
		                          AND A.APPROVAL_STATUS_CD IN ('NREQ','NING','NAPR','EAPR','SR','SING','SAPR') -- 고정
		                          AND A.DEL_YN = 'N' --고정
		                     )                                
		    UNION ALL                                    
		        -- ===================================
		        -- 1.2 사용계획에 존재하는 경우 .(공용카드)(자금팀)
		        -- 카드사용계획에 카드사용날짜에 배치된 사람의 실적이므로 계획에 있는 사람에게 메일 보냄
		        -- ===================================
		        SELECT '12' AS APP_TYPE
		                   , C.AUTH_DATE
		                   , C.MERC_NAME
		                   , C.AMT_AMOUNT
		                   , C.VAT_AMOUNT
		                   , C.REQUEST_AMOUNT
		                   , C.CARD_NUM
		                   , C.AUTH_NUM           
		                   , S.USER_ID AS OWNER_ID
		                   , FN_GET_USER_INFO(E.COMPANY_CD, S.USER_ID, 'EMAIL_ADDR') AS TO_USER
		           FROM CARD_AQ_TMP C, EAC_CARD E, EAC_CARD_SCHEDULE S, EAC_CARD_AQ_MGMT G
		         WHERE 1=1
		              AND C.CARD_NUM = E.CARD_NO
		              AND E.COMPANY_CD = #{companyCd}                                                      
		              AND E.COMPANY_CD=S.COMPANY_CD
		              AND E.CARD_NO=S.CARD_NO   
		              AND E.USE_YN = 'Y'
		              AND E.DEL_YN = 'N'
		              AND S.USER_ID = #{userId}
		              AND C.CARD_NUM = G.CARD_NUM
		              AND C.AUTH_DATE = G.AUTH_DATE
		              AND C.AUTH_NUM = G.AUTH_NUM
		              AND C.GEORAE_STAT = G.GEORAE_STAT
		              AND C.REQUEST_AMOUNT = G.REQUEST_AMOUNT
		              AND C.GEORAE_COLL = G.GEORAE_COLL
		              AND (G.CARD_USING_TP_CD IS NULL OR G.CARD_USING_TP_CD = '1') -- 개인용 제외
		              AND C.AUTH_DATE BETWEEN S.START_DAY AND S.END_DAY 
		              AND (C.CARD_NUM, C.AUTH_DATE, C.AUTH_NUM, C.GEORAE_STAT, C.REQUEST_AMOUNT, C.GEORAE_COLL) 
		                     NOT IN ( SELECT I.CARD_NUM, I.AUTH_DATE, I.AUTH_NUM, I.GEORAE_STAT, I.REQUEST_AMOUNT, I.GEORAE_COLL
		                                FROM EAC_APPROVAL A, EAC_APPROVAL_ITEM I
		                               WHERE 1=1
				                         AND A.COMPANY_CD = #{companyCd}
		                                 AND A.COMPANY_CD = I.COMPANY_CD
		                                 AND A.APPROVAL_ID = I.APPROVAL_ID
		                                 AND A.APPROVAL_STATUS_CD IN ('NREQ','NING','NAPR','EAPR','SR','SING','SAPR') -- 고정
		                                 AND A.DEL_YN = 'N' --고정
		                                )        
		    UNION  ALL                      
		        -- ===================================
		        -- 1.3 비서 : 카드 비서1,2에 지정된 카드 사용 건  (회장,부회장,사장 카드)
		        -- ===================================
		        SELECT '13' AS APP_TYPE
		                   , C.AUTH_DATE
		                   , C.MERC_NAME
		                   , C.AMT_AMOUNT
		                   , C.VAT_AMOUNT
		                   , C.REQUEST_AMOUNT
		                   , C.CARD_NUM
		                   , C.AUTH_NUM           
		                   , decode(M.SEC1_USER_ID, null, M.SEC2_USER_ID,M.SEC1_USER_ID)  AS OWNER_ID -- 비서
		                   , FN_GET_USER_INFO(E.COMPANY_CD, decode(M.SEC1_USER_ID, null, M.SEC2_USER_ID,M.SEC1_USER_ID), 'EMAIL_ADDR') AS TO_USER
		         FROM CARD_AQ_TMP C, EAC_CARD E, EAC_CARD_MGMT M, EAC_CARD_AQ_MGMT G 
		        WHERE 1=1
		          AND C.CARD_NUM = E.CARD_NO
		          AND E.COMPANY_CD = #{companyCd}                                                      
		          AND E.COMPANY_CD=M.COMPANY_CD
		          AND E.CARD_NO=M.CARD_NO   
		          AND E.USE_YN = 'Y'
		          AND E.DEL_YN = 'N'
		          AND (M.SEC1_USER_ID = #{userId} OR M.SEC2_USER_ID = #{userId})
		          AND C.CARD_NUM = G.CARD_NUM
		          AND C.AUTH_DATE = G.AUTH_DATE
		          AND C.AUTH_NUM = G.AUTH_NUM
		          AND C.GEORAE_STAT = G.GEORAE_STAT
		          AND C.REQUEST_AMOUNT = G.REQUEST_AMOUNT
		          AND C.GEORAE_COLL = G.GEORAE_COLL
		          AND M.SEC_CARD_YN='Y'
		          AND (G.CARD_USING_TP_CD IS NULL OR G.CARD_USING_TP_CD = '1') -- 개인용 제외
		          AND (C.CARD_NUM, C.AUTH_DATE, C.AUTH_NUM, C.GEORAE_STAT, C.REQUEST_AMOUNT, C.GEORAE_COLL) 
		              NOT IN ( SELECT I.CARD_NUM, I.AUTH_DATE, I.AUTH_NUM, I.GEORAE_STAT, I.REQUEST_AMOUNT, I.GEORAE_COLL
		                         FROM EAC_APPROVAL A, EAC_APPROVAL_ITEM I
		                        WHERE 1=1
		                          AND A.COMPANY_CD = #{companyCd}
		                          AND A.COMPANY_CD = I.COMPANY_CD
		                          AND A.APPROVAL_ID = I.APPROVAL_ID
		                          AND A.APPROVAL_STATUS_CD IN ('NREQ','NING','NAPR','EAPR','SR','SING','SAPR') -- 고정
		                          AND A.DEL_YN = 'N' --고정
		                     )       
		    UNION  ALL                      
		        -- ===================================
		        -- 1.4 사용실적 : 카드실제 사용자가 지정된 건 (공용카드)(영업팀)
		        -- 실사용자가 명기된 내역임.실사용자에게 메일이 보내
		        -- ===================================
		        SELECT '14' AS APP_TYPE
		                   , C.AUTH_DATE
		                   , C.MERC_NAME
		                   , C.AMT_AMOUNT
		                   , C.VAT_AMOUNT
		                   , C.REQUEST_AMOUNT
		                   , C.CARD_NUM
		                   , C.AUTH_NUM           
		                   , G.ACT_USER_ID AS OWNER_ID           
		                   , FN_GET_USER_INFO(#{companyCd}, G.ACT_USER_ID, 'EMAIL_ADDR') AS TO_USER
		         FROM CARD_AQ_TMP C, EAC_CARD_AQ_MGMT G 
		        WHERE 1=1
		          AND C.CARD_NUM = G.CARD_NUM
		          AND C.AUTH_DATE = G.AUTH_DATE
		          AND C.AUTH_NUM = G.AUTH_NUM
		          AND C.GEORAE_STAT = G.GEORAE_STAT
		          AND C.REQUEST_AMOUNT = G.REQUEST_AMOUNT
		          AND C.GEORAE_COLL = G.GEORAE_COLL
		          AND G.ACT_USER_ID IS NOT NULL
		          AND G.ACT_USER_ID = #{userId}
		          AND (G.CARD_USING_TP_CD IS NULL OR G.CARD_USING_TP_CD = '1') -- 개인용 제외
		          AND (C.CARD_NUM, C.AUTH_DATE, C.AUTH_NUM, C.GEORAE_STAT, C.REQUEST_AMOUNT, C.GEORAE_COLL) 
		              NOT IN ( SELECT I.CARD_NUM, I.AUTH_DATE, I.AUTH_NUM, I.GEORAE_STAT, I.REQUEST_AMOUNT, I.GEORAE_COLL
		                         FROM EAC_APPROVAL A, EAC_APPROVAL_ITEM I
		                        WHERE 1=1
		                          AND A.COMPANY_CD = #{companyCd}
		                          AND A.COMPANY_CD = I.COMPANY_CD
		                          AND A.APPROVAL_ID = I.APPROVAL_ID
		                          AND A.APPROVAL_STATUS_CD IN ('NREQ','NING','NAPR','EAPR','SR','SING','SAPR') -- 고정
		                          AND A.DEL_YN = 'N' --고정
		                     )
		    )	
	</select>


	<select id="getCountOfRej" parameterType="java.util.Map" resultType="long">
		SELECT COUNT(*) FROM (
		        -- ------------------------------
		        -- 2. 반려카드건 (누적)
		        -- ------------------------------
		        SELECT CARD_NUM, AUTH_DATE, AUTH_NUM, GEORAE_STAT, REQUEST_AMOUNT, GEORAE_COLL, MAX(MERC_NAME) AS MERC_NAME, MAX(MERC_ADDR) AS MERC_ADDR
		          FROM (  
		                SELECT A.COMPANY_CD, A.APPROVAL_ID, AI.SEQ, AI.CARD_NUM, AI.AUTH_DATE, AI.AUTH_NUM, AI.GEORAE_STAT, AI.REQUEST_AMOUNT, AI.GEORAE_COLL, AI.MERC_NAME, AI.MERC_ADDR
		                  FROM EAC_CARD_AQ_MGMT G, EAC_APPROVAL A, EAC_APPROVAL_ITEM AI
		                 WHERE 1=1
				           AND A.COMPANY_CD       = #{companyCd}
				           AND A.COMPANY_CD       = AI.COMPANY_CD
				           AND A.APPROVAL_ID      = AI.APPROVAL_ID
				           AND A.DEL_YN           = 'N'
				           AND AI.CARD_NUM        = G.CARD_NUM
				           AND AI.AUTH_DATE       = G.AUTH_DATE
				           AND AI.AUTH_NUM        = G.AUTH_NUM
				           AND AI.GEORAE_STAT     = G.GEORAE_STAT
				           AND AI.REQUEST_AMOUNT  = G.REQUEST_AMOUNT
				           AND AI.GEORAE_COLL     = G.GEORAE_COLL
				           AND A.APPROVAL_STATUS_CD = 'NREJ' 
							AND (AI.CARD_NUM, AI.AUTH_DATE, AI.AUTH_NUM, AI.GEORAE_STAT, AI.REQUEST_AMOUNT, AI.GEORAE_COLL) 
					              NOT IN ( SELECT I.CARD_NUM, I.AUTH_DATE, I.AUTH_NUM, I.GEORAE_STAT, I.REQUEST_AMOUNT, I.GEORAE_COLL
					                         FROM EAC_APPROVAL A1, EAC_APPROVAL_ITEM I
					                        WHERE 1=1
					                          AND A1.COMPANY_CD = #{companyCd}
					                          AND A1.COMPANY_CD = I.COMPANY_CD
					                          AND A1.APPROVAL_ID = I.APPROVAL_ID
					                          AND A1.APPROVAL_STATUS_CD IN ('NREQ','NING','NAPR','EAPR') -- 고정 : 재품의 한것도 빠지게 됨
					                          AND A1.DEL_YN = 'N' --고정
					                     )  		                    
				           AND (G.CARD_USING_TP_CD = '1' OR G.CARD_USING_TP_CD IS NULL) -- 고정 : 법인용  또는 지정 안된 것
				           AND A.RQ_USER_ID       = #{userId} -- 검색조건 : 사용자ID (본인)      
		               ) AA
		         GROUP BY  CARD_NUM, AUTH_DATE, AUTH_NUM, GEORAE_STAT, REQUEST_AMOUNT, GEORAE_COLL
		    )
	</select>
	
	
	<select id="getCountOfIng" parameterType="java.util.Map" resultType="long">
		SELECT COUNT(*) FROM (
		    -- ------------------------------
		    -- 3. 결재중 문서
		    -- ------------------------------
		    SELECT A.COMPANY_CD, A.APPROVAL_ID
		      FROM EAC_APPROVAL A
		     WHERE 1=1
		       AND A.DEL_YN = 'N'
		       AND A.COMPANY_CD = #{companyCd}
		       AND (A.RQ_USER_ID = #{userId} OR A.RRQ_USER_ID = #{userId})
		       AND A.APPROVAL_STATUS_CD IN ('NREQ', 'NING')
		    )
	</select>
	
	
	<select id="getCountOfComplete" parameterType="java.util.Map" resultType="long">
		SELECT COUNT(*) FROM (
		        -- ------------------------------
		        -- 4. 결재완료 문서
		        -- ------------------------------
		        SELECT COMPANY_CD, APPROVAL_ID
		          FROM (
		                SELECT A.COMPANY_CD, A.APPROVAL_ID, AI.AUTH_DATE 
		                  FROM EAC_APPROVAL A, EAC_APPROVAL_ITEM AI
		                 WHERE 1=1
		                   AND A.DEL_YN = 'N'
		                   AND A.COMPANY_CD = #{companyCd}
		                   AND (A.RQ_USER_ID = #{userId} OR A.RRQ_USER_ID = #{userId})
		                   AND A.APPROVAL_STATUS_CD IN ('NAPR','EAPR')
		                   AND A.COMPANY_CD = AI.COMPANY_CD
		                   AND A.APPROVAL_ID = AI.APPROVAL_ID
		                   AND TO_CHAR(SYSDATE,'DD')<![CDATA[>]]>10
		                   AND AI.AUTH_DATE LIKE TO_CHAR(SYSDATE,'YYYYMM')||'%'
		                UNION   
		                SELECT A.COMPANY_CD, A.APPROVAL_ID, AI.AUTH_DATE 
		                  FROM EAC_APPROVAL A, EAC_APPROVAL_ITEM AI
		                 WHERE 1=1
		                   AND A.DEL_YN = 'N'
		                   AND A.COMPANY_CD = #{companyCd}
		                   AND (A.RQ_USER_ID = #{userId} OR A.RRQ_USER_ID = #{userId})
		                   AND A.APPROVAL_STATUS_CD IN ('NAPR','EAPR')
		                   AND A.COMPANY_CD = AI.COMPANY_CD
		                   AND A.APPROVAL_ID = AI.APPROVAL_ID
		                   AND TO_CHAR(SYSDATE,'DD')<![CDATA[<=]]>10
		                   AND AI.AUTH_DATE LIKE TO_CHAR(add_months(SYSDATE,-1),'YYYYMM')||'%'
		               )
		         GROUP BY COMPANY_CD, APPROVAL_ID          
		    )
	</select>
	
	

</mapper>